[Install]
WantedBy=multi-user.target

[Service]
Environment=O11Y_OTEL_COLLECTOR_CLICKHOUSE_DSN=tcp://localhost:9000
Environment=O11Y_OTEL_COLLECTOR_TIMEOUT=10m
ExecStart=/opt/ingester/bin/otel-collector --config=%Y/ingester/ingester.yaml --manager-config=%Y/ingester/opamp.yaml --copy-path=/var/lib/ingester/ingester.yaml
ExecStartPre=/opt/ingester/bin/otel-collector migrate sync check
Group=o11y
KillMode=mixed
Restart=on-failure
RestartSec=5
Type=simple
User=o11y

[Unit]
Description=O11y OTel Collector
Documentation=https://signoz.io/docs
