[Install]
WantedBy=multi-user.target

[Service]
Environment=O11Y_OTEL_COLLECTOR_CLICKHOUSE_DSN=tcp://localhost:9000
Environment=O11Y_OTEL_COLLECTOR_TIMEOUT=10m
ExecStart=/bin/bash -c '/opt/ingester/bin/otel-collector migrate bootstrap && /opt/ingester/bin/otel-collector migrate sync up && /opt/ingester/bin/otel-collector migrate async up'
ExecStartPre=/opt/ingester/bin/otel-collector migrate ready
Group=o11y
RemainAfterExit=yes
Restart=on-failure
RestartSec=5
Type=oneshot
User=o11y

[Unit]
Description=O11y TelemetryStore Migrator
Documentation=https://signoz.io/docs
