@import 'tailwindcss';
@import '@hanzo/docs-base-ui/css/solar.css';
@import '@hanzo/docs-base-ui/css/preset.css';
@import '@hanzo/docs-openapi/css/preset.css';

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

:root {
  --fd-layout-width: 1600px;
}
